body{
    background-color: blanchedalmond;
    color: dodgerblue;
   
}
 #col1{ 
    color: Red;
}
#col2{
    color: yellow;
}
#col3{
    color: blue;
}
#col4{
    color: green;
} 
#col5{
    color: purple;
}
#col6{
    color: orange;
}
